.head{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    border: 2px solid black;
}

.food{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: red;
    border: 2px solid black;
}